/* Color -> Dark */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Sans+JP:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*
font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
 
 
  
  
*/



:root[data-theme="dark"] {
  --cor-fundo: #000000;
  --cor-fundo-secundario:#292525;
  --cor-text-menu-link: #ffffff;
  --cor-border-botton: #ffffff;
  --cor-icon-theme: #ffffff;
  --cor-titulo:white;
  --cor-texto:white;
  --hover-link: #f3f8f3;
  

}


/* fontes */






/* Color -> dark */
:root,
:root[data-theme="light"] {
  --cor-fundo: #6b5f5f;
  --cor-fundo-secundario: #fffff;
  --cor-text-menu-link: #fcf3f3;
  --cor-borda: #5c4d4d;
  --cor-icon-theme: #585252;
  --cor-titulo:#e7e3e3;
  --cor-texto:rgb(243, 236, 236);
  


  

}
html[ data-theme='light'].logo{
  filter: invert(1);
}

html {
    scroll-behavior: 
    scrollbar-width thin;
    scrollbar-color: r var(--cor-icon-theme) transparent;
};

/* Reset CSS */
* {
  margin: 0; /* Margem Externa */
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--cor-fundo);
}

header {
  /* FLEXBOX */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem; /* 1 rem = 16 pixels */
  border-bottom: 0.1px solid var(--cor-borda);
  position: fixed;
  z-index: 9999; /* CAMADAS */
  background: var(--cor-fundo);
}
.logo { 
  width: 2rem/* comprimento */;
/* height: */ /* altura */
}



/* nav */
.menu-desktop {
  display: none;
}

/* ul */
.menu {
  display: flex;
  list-style: none;
  gap: 1.2rem;
}

/* a */
.menu-link {
  text-decoration: none;
  color: #ffffff;
}

.menu-text {
  text-transform: uppercase;
  color: var(--cor-text-menu-link);
  font-family: var(fonte);
}

#toggleTheme {
  color: var(#a3a3a3);
  font-size: 1.5x;
  cursor: pointer; /* seta-mouse */
}

#toggletheme:hover {
  color: var( white);

}


.menu-mobile {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  background: var(--cor-fundo-secundario);
  width: 35%;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  padding-top: 4rem;
  height: 100vh; /* Viewport Height */
  border-left: 1px solid var(--cor-borda);
  align-items: center;
}

.menu-mobile.active {
  transform: translateX(0);
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.btn-menu-mobile {
  background: transparent;
  border: none;
  color: var(--cor-icon-theme);
  font-size: 16px;
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0.5rem;
}

.header-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item {
  text-align: center;
}

/* Herança */








.menu-link.active .menu-text,
.menu-link:hover .menu-text {
  color: white;
}


h1{
    font-size: 2.5rem;
    color: var(--cor-titulo);
    font-family: var(--fonte-titulo-h3)
}
h2{
  text-align: center;
  font-size: 2rem;
  font-family: var(--fonte-subtitulo-h2);
  /* font-weight: ; */
  /* letter-spacing: ; */
  /* color */
}

p{
    color: var(--cor-texto)
}


#home, .projetos,
.sobre {
  padding: 2.5rem 1rem;
 

}
/* flexbox da HOME */
#home { 
  display: flex;
  flex-direction: column;
  gap: 2rem;

}
.main-content{
  display: flex; 
  flex-direction: column;
  gap: 1rem;
}
.menu-social i{
  color: var (--cor-link);
  font-size: 1.5rem;
}

.menu-social i:hover {
  color: var(--hover-link);

}
.descricao-video {
  padding: 6.25rem 6rem 2rem 6rem;

}



/* Responsividade */
/* A partir de 768 voltar tela em flex */




@media (min-width: 768px) {
  .menu-desktop {
    display: flex;
  }
  .btn-menu-mobile {
    display: none;
  }

h1 {
  font-size: 5rem;
 }
@media(max-width: 768px) { 
  #home {
padding-top:(6rem) ; 

}
} 
.header-logo{
  min-width: 25%;
 }
 
 }
 #home, 
 .projeto,
 .sobre {
  padding: 8rem 6rem 4rem 6rem;

 }

 .main-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 }
 .descricao-video {
  display: flex;
  flex-direction: column;
  justify-content: ;
  align-items: ;
  gap: 1.25rem;
  padding: 6.25rem 1rem 2rem;
  background: #626262;
  margin-top: -5.5rem;
 }
 .video iframe{
  aspect-ratio: 16/9;
  
  /* width: 100% */

 }
 .descricao-video h2{
  font-size: 2rem;
  text-transform: normal;
  letter-spacing: normal;
  font-family: var(--fonte-subtitulo-h2);
  text-align: center;
  margin-top: -1rem;

 }
 /* projetos */

 .projetos{
  display:flex ;
  flex-direction: column;
  gap: 4rem;
 }
 .projetos-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
 }
 .projeto-card{
  display: flex;
  flex-direction: column;
  gap: 2rem;
 }
 .img-card{
  width: 100%;
  border-radius: 2rem ;
  box-shadow: 4px 7px 15px 1px #dedede ;
  pointer-events: none;
  object-fit: cover;
  object-position: center;

 }
 .card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;

 }
 .card-list{
  list-style: none;
  margin-left: none;
 }


  /* tela 992 */

@media (min-width: 1400px ) {
header {
  padding: 1rem 6rem ;
}
h1{ 
  font-size: 7rem;
}
.projeto-card{
  flex-direction: row;
}
.img-card{
  width: 55%;

}


.descricao-video h2{
  font-size: 4.5rem;
  text-align: start;
}


}