
/* COR DARK */
:root,
:root[data-theme='dark'] {

    --cor-fundo:#eee
    --txt-menu-text:white
    --borda:white
    --icon-theme:
    
}
   



/* cor light */
:root[data-theme='light'] {

    --cor-fundo:white
    --txt-menu-text:black;
    --borda:black;
    --icon-theme:
}   




/* Reset CSS */
*
{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
 body { 
    background: var(--cor-fundo) /* Cor fundo */

}
header { 
    display: flex;
    justify-content: space-between; /* Eixo X */
    /* alinhamento vertical */
    align-items: center; /* Eixo Y */
    width: 100%; /*largura total p todos dispositivos  */
    padding: .5rem 1rem ; 
    border-bottom: 1px solid #000;
    position: fixed;
    z-index: 999;
    
}  

/* nav */   
.menu-desktop {  
    display: none;
    
}
/* UL */
.menu { 
    
    display: flex;
    list-style:none;
    gap: 1.2rem;
}

.text-link {
    text-decoration: none;











}

#toggleTheme {
color: var(--icon-theme);

}
.menu-mobile {
    position: fixed;
    top:0;
    right: 0;
    transform: translateX();/* 100% */
    background:red ;
    width: 75%;
    display: flex;
    flex-direction: column;
    max-width: 320%;
    padding-top: 4rem;
    height: 100vh; /* viewport height */
    border-left: 1px solid; var



}






/* Rosponsividade */ 
/* A partir de 768 */
@media (min-width: 768px) { 
    .menu-desktop { 
      display:flex ;
    }
    
}
    
    

     
    

