/* Reset CSS */
*
{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
 body { 
    background: #141414; /* Cor fundo */


}
header { 
    display: flex;
    justify-content: space-between; /* Eixo X */
    /* alinhamento vertical */
    align-items: center; /* Eixo Y */
    width: 100%; /*largura total p todos dispositivos  */
    padding: .5rem 1rem ; 
    margin: 15rem;
    padding: .5rem;
    border-bottom: 1px solid #000;
    position: fixed;
    
    

}    
h1 {  
    padding-top: 1200px;
}  
    
    

     
    

